.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.controlsBottom {
  display: flex;
  background-color: #121212;
  width: 100%;
  height: 8.0971659919028340080971659919028%;
  align-items: center;
}

.iconButton {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.sliderWrapper {

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}